Panel administratora<br>

{% if allUsers is defined %}

    {% for user in allUsers %}
        {{user.id}}<br>
        {{user.username}}<br>
        <a href="{{ path('user_delete', {'id':user.id}) }}">usuń klienta</a><br>
        {% if app.user.hasRole('ROLE_ADMIN') %}
            <a href="{{ path('new_admin', {'id':user.id}) }}">nadaj uprawnienia admina</a><br>

        {% endif %}
    {%endfor%}

{% else %}
    brak użytkowników

{%endif%}







