<!DOCTYPE html>


<body>
     <a href="{{ path('all_items')}}">Zarządzaj przedmiotami</a><br>
     <a href="{{ path('show_all')}}">Zarządzaj użytkownikami</a><br>
    {# <a href="{{ path('show_baskets')}}">Zarządzaj zamówieniami</a><br>#}
</html>
